@import "../../index";

* {
  font-family: 'Inter', sans-serif;
}

// This centers the container, giving the container a set width
.recipe--page {
  display: flex;
  justify-content: center;
}

.recipe--container {
  // TODO: Set width?
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.recipe--page--title {
  font-size: xxx-large;
  margin: 1rem 0;
}

.recipe--image {
  margin-bottom: 15px;
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;

}

.publisher--container {
  display: flex;
  align-items: center;
}

.publisher--icon {
  border-radius: 50%;
  width: 40px;
  margin: 0 10px;
  aspect-ratio: 1;
}

.rating--container {
  display: flex;
  height: 50px;
  align-items: center;

  img {
    width: 25px;
  }
  .average--rating--text {
    margin-left: 3px;
    color: gray;
  }
}

.recipe--content--container {
  display: flex;
  // For mobile
  flex-wrap: wrap;
}

.recipe--ingredients--container {
  min-width: 300px;
}

.recipe--content--container ol > li {
    list-style-type: decimal;
}