.numbered--list {
    list-style: none;
    counter-reset: index;

    li {
        counter-increment: index;
        margin: 0.25rem;
        display: flex;
        align-items: center;
        
    }
    
    li::before {
        content: counter(index);
        background: #662974;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.bulleted--list {
    list-style: none;

    li {
        margin: 0.25rem;
        display: flex;
        align-items: center;
    }
    
    li::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}