.numbered--list {
    list-style: none;
    counter-reset: index;

    li {
        counter-increment: index;
        margin: 0.25rem;
        align-items: center;
    }
    
    li::before {
        content: counter(index);
        background: #694FD0FF;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 1.75rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.bulleted--list {
    list-style: none;

    li {
        margin: 0.25rem;
        align-items: center;
    }
    
    li::before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-flex;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.create--recipe--container {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.editor {
    font-weight: initial;
    p {
        margin: 0;
    }

    h1, h2 {
        margin: 5px;
    }
}

.editor--buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
}

.create--recipe--editor--container {
    margin-bottom: 2rem;
}

.create--recipe--title--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create--recipe--image--container {
    margin-bottom: 2rem;
}

.create--recipe--rating--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.create--recipe--button--container {
    display: flex;
    justify-content: end;
}