.numbered--list {
    list-style: none;
    counter-reset: index;

    li {
        counter-increment: index;
        margin: 0.25rem;
        align-items: center;
    }
    
    li::before {
        content: counter(index);
        background: #662974;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.bulleted--list {
    list-style: none;

    li {
        margin: 0.25rem;
        align-items: center;
    }
    
    li::before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-flex;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.create--recipe--container {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.editor--container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.input--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}